<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }} - {{ page.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>
          <span>Maintainer: {{ page.author }}</span>
          </li>
        <li>
          <span>Contributors:</span>
          <ul>
          {% for name in page.contributors %}
            <li>{{ name }}</li>
          {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          {% if page.permalink == '/index.html' %}
            <a href="https://github.com/{{ site.username }}">
              <span class="icon github">{% include github.svg %}</span>
              <span class="username">{{ site.username | prepend: 'Github:' }}</span>
            </a>
          {% else %}
            <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">
              <span class="icon github">{% include github.svg %}</span>
              <span class="username">View source</span>
            </a>
          {% endif %}
        </li>
        <!-- <li>
          <a href="https://twitter.com/{{ site.username }}">
            <span class="icon twitter">{% include twitter.svg %}</span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li> -->
      </ul>
    </div>

    <div class="footer-col-3 column">
      <ul class="text">
        <li>
          License: <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about/">Imprint</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/contribute/">Contribute</a>
        </li>
      </ul>
    </div>

  </div>

</footer>
