<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }} - {{ page.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>Maintainer: {{ page.author }} </li>
        <li>Contributors:
          <ul>
            {% for name in page.contributors %}
              <li>{{ name }}</li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          {% if page.title == 'Home' %}
            <a href="https://github.com/{{ site.username }}">
              <span class="icon github">{% include github.svg %}</span>
              <span class="username">{{ site.username }}</span>
            </a>
          {% else %}
            <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">
              <span class="icon github">{% include github.svg %}</span>
              <span class="username">View source</span>
            </a>
          {% endif %}
        </li>
        <!-- <li>
          <a href="https://twitter.com/{{ site.username }}">
            <span class="icon twitter">{% include twitter.svg %}</span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li> -->
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">Licence, year, <a href="{{ site.baseurl }}/about/">About</a></p>
    </div>

  </div>

</footer>
