<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">{% include menu-icon.svg %}</a>
      <ul class="trigger">
        <li>
          <a class="page-link" href="{{ site.baseurl }}/Stats">Statistics</a>
          <ul class="sub">
            {% for p in site.pages %} 
              {% if p.category == 'stats' %}
                {% if p.subcategory == 'none' or p.subcategory == nil %}
                  <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                  <ul>
                  {% for sp in site.pages %}
                  	{% if sp.subcategory == p.title %}
                  		<li><a href="{{ sp.url | prepend: site.baseurl }}">{{ sp.title }}</a></li>
                  	{% endif %}
                  {% endfor %}
                  </ul>
                  </li>
                {% endif %}
            {% endif %} {% endfor %}
          </ul>
        </li>
        
        <li>
          <a class="page-link" href="{{ site.baseurl }}/R">R</a>
          <ul class="sub">
            {% for p in site.pages %} {% if p.category == 'r' %}
            <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %} {% endfor %}
          </ul>
        </li>
        
        <li>
          <a class="page-link" href="{{ site.baseurl }}/Hubs">Hubs</a>
          <ul class="sub">
            {% for p in site.pages %} {% if p.category == 'hubs' %}
            <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %} {% endfor %}
          </ul>
        </li>
        
        <li>
          <a class="page-link" href="{{ site.baseurl }}/Checklists">Checklists</a>
          <ul class="sub">
            {% for p in site.pages %} {% if p.category == 'checklists' %}
            <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %} {% endfor %}
          </ul>
        </li>
        
        <li>
          <a class="page-link" href="{{ site.baseurl }}/Glossary">Glossary</a>
          <ul class="sub">
            {% for p in site.pages %} {% if p.category == 'concepts' %}
            <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %} {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>

  </div>

</header>
